%list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

%btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

%hover-secondary {
  &:hover {
    background-color: $violet-light;
  }
  &:active {
      background-color: $violet;
      color: $default;
  }
}

%hover-violet {
  &:hover {
    background-color: $blue;
  }
  &:active {
      background-color: $blue-light;
  }
}

@mixin button($color, $background, $padding) {
  @extend %btn-reset;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: $padding;
  color: $color;
  background: $background;
  text-align: center;
  border-radius: 6px;
  transition: background-color .3s, color .3s, border-color .3s;
}
