$violet: #685ED6;
$violet-secondary: #F1E4FF;
$violet-light: #C39BFB;
$default: #fff;
$black: #1D2530;
$gray-light: #F5F6FD;
$gray900: #18191F;
$gray800: #474A57;
$gray300: #D9DBE1;
$gray200: #EEEFF4;
$gray100: #F4F5F7;
$backgroundCard: #FCFEFF;
$backgroundFooterDown: #141B23;
$blue: #33AFE1;
$blue-light: #18E1F7;
$input-back: #F7F7FD;
$hover-input: #E8E6F8;
$focused-input: #605DEC;