@import "_vars.scss";
@import "_mixins.scss";

.connect {
    padding-top: 90px;
    padding-bottom: 90px;
    @media (max-width: 768px) {
        padding-top: 54px;
        padding-bottom: 54px;
     }
    &__container {
        display: flex;
        background-image: url("../img/connection-background.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        border-radius: 6px;
        padding-top: 16px;
        padding-left: 20px;
        padding-right: 20px;
        @media (max-width: 1024px) {
           justify-content: space-between;
        }
        @media (max-width: 690px) {
            flex-direction: column;
            padding-bottom: 20px;
        }
        @media (max-width: 450px) {
            background-image: none;
            background-color: $violet;
        }
    }
    &__picture {
        padding-left: 60px;
        margin-right: 114px;
        @media (max-width: 1024px) {
            padding-left: 0;
            margin-right: 0;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 32px;
    }
    &__title {
        max-width: 445px;
        font-weight: 800;
        font-size: 33px;
        line-height: 41px;
        color: $default;
        margin-bottom: 32px;
        @media (max-width: 768px) {
            font-size: 24px;
            line-height: 32px;
        }
    }
    &__email {
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        color: $gray800;
        background-color: $gray100;
        border-radius: 5px 0px 0px 5px;
        padding: 14px 16px;
        border: none;
        @media (max-width: 450px) {
            width: 151px;
            padding: 10px 16px;
        }
    }
    &__submit {
        @include button($default, $gray900, 14px 24px);
        font-size: 14px;
        border-radius: 0px 5px 5px 0px;
        margin-left: -4px;
        @extend %hover-violet;
        @media (max-width: 450px) {
            padding: 12px 24px;
        }
    }
}